build/
data/

# macOS
.DS_Store

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv

# Bash / shell artifacts
*.swp
*.swo

# Runtime data
/data/*.json
/data/*.log

# Other
.env
config.json